/* =============
    Base
============= */
body {
    background: rgb(74, 112, 127);
    background: linear-gradient(180deg, rgba(74, 112, 127, 1) 9%, rgba(242, 215, 172, 1) 73%, rgba(255, 224, 148, 1) 100%);
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    margin: 0;
}

.nospace {
    font-size: 0;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}