#section-3{
    // hr{
    //     background-color: white;
    // }

    #title{
        padding-top: 25px;
        padding-left: 17px;

        @include md{
            padding-top: 55px;
            padding-left: 44px;
        }

        @include lg{
            padding-top: 75px;
            padding-left: 40px;
        }
    }

    .subtitle{
        padding-left: 41px;
    }

    .categories{
        padding-left: 54px;
    }

    .details{
        padding-left: 60px;
    }

    #singup-form{
        padding-left: 45px;
    }

    img{
        width: 100%;
    }

    @include md{
        #section-3-content{
            display: grid;
            grid-template-columns: 3% 47% 47% 3%;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
            ". three five ."
            ". shooting img .";
    
            #threeonthree{
                grid-area: three;
            }
    
            #fiveonfive{
                grid-area: five;
            }
    
            #shooting{
                grid-area: shooting;
            }
    
            img{
                grid-area: img;
            }
        }
    }
}