/* =============
    Section 1
============= */
#section-1{
    #section-1-content{
        background-image: url('../img/section-1/hero.jpg');
        background-position: bottom;
        background-size: cover;
        height: 200px;
        // margin-top: 80px;
        
        @include md{
            height: 500px;
        }

        @include lg{
            height: 750px;  
        }

        text-align: center;
        padding-top: 30px;

        h1{
            font-size: rem-calc(22);

            @include md{
                font-size: rem-calc(54);
                padding-top: 55px;
            }

            @include lg{
                font-size: rem-calc(72);
                padding-top: 50px;
            }
        }
        
        h5{
            font-size: rem-calc(10);
            padding-left: 32%;
            padding-right: 32%;

            @include md{
                font-size: rem-calc(22);
                padding-left: 0;
                padding-right: 0;
            }

            @include lg{
                font-size: rem-calc(30);
            }
        }
    }
}