#section-4{
    // hr{
    //     background-color: white;
    // }

    #title{
        padding-top: 25px;
        padding-left: 17px;

        @include md{
            padding-top: 55px;
            padding-left: 44px;
        }
    }

    #section-4-content{
        display: grid;
        grid-template-columns: 27px auto 27px;
        grid-template-areas: ". section-4-content .";
        
        #rules{
            grid-area: section-4-content;
        }

        @include md{
            grid-template-columns: 8% auto 8%;
        }
    }

    #button{
        display: grid;
        grid-template-columns: auto 40% auto;
        grid-template-areas: ". butt .";

        #black-rec{
            grid-area: butt;

            height: 35px;
            width: 144px;
            border-radius: 8px;
            background-color: black;
    
            h4{
                color: white;
            }
        }

        @include md{
            
        }
    }

    img{
        width: 100%;
    }
}