#section-7{
    #title{
        font-size: rem-calc(22);
        padding-top: 25px;
        padding-left: 17px;

        @include md{
            font-size: rem-calc(38);
            padding-top: 55px;
            padding-left: 44px;
        }

        @include lg{
            font-size: rem-calc(45);
        }
    }

    #section-7-container{
        display: grid;
        grid-template-columns: 15% auto 15%;
        grid-template-areas: ". section-7-container .";

        #section-7-content{
            grid-area: section-7-container;
            font-size: rem-calc(16);
            margin: 0 auto;

            @include md{
                font-size: rem-calc(23);
            }

            @include lg{
                font-size: rem-calc(28);
            }

            #section-7-contact{
                display: flex;
                flex-direction: column;
                font-size: rem-calc(13);

                @include md{
                    font-size: rem-calc(18);
                }

                @include lg{
                    font-size: rem-calc(20);
                }

                #black-rec{
                    align-self: flex-end;
                }

                h6{
                    align-self: flex-end;
                }

                #black-rec:hover{
                    background-color: white;
                    transition: all ease-in-out 0.25s;
                    cursor: pointer;
                    
                    h6{
                        color: black;
                    }
                }
            }
        }

        #indent{
            padding-left: 48px;

            @include md{
                padding-left: 70px;
            }

            @include lg{
                padding-left: 83px;
            }
        }

        .ellipse{
            height: 40px;
            width: 236px;
            border: 2px solid black;
            border-radius: 30px;
            margin-bottom: 16.5px;

            h6{
                padding-top: 6%;
                padding-left: 5%;

                @include md{
                    padding-top: 4%;
                    padding-left: 3%;
                }
            }

            @include md{
                height: 60px;
                width: 556px;
            }
        }

        #rounded-rec{
            height: 205px;
            width: 236px;
            border: 2px solid black;
            border-radius: 25px;

            h6{
                padding-top: 6%;
                padding-left: 5%;

                @include md{
                    padding-top: 4%;
                    padding-left: 3%;
                }
            }

            @include md{
                height: 290px;
                width: 556px;
                border-radius: 30px;
            }
        }

        #black-rec{
            height: 30px;
            width: 91px;
            border-radius: 19px;
            background-color: black;
            margin-top: 20px;
            margin-bottom: 5px;

            @include md{
                height: 36px;
                width: 114px;
                margin-top: 27px;
                margin-bottom: 8px;
            }

            h6{
                font-size: rem-calc(15);
                text-align: center;
                line-height: 30px; 

                @include md{
                    font-size: rem-calc(20);
                    line-height: 36px; 
                }

                @include lg{
                    font-size: rem-calc(22);
                }
            }
        }

        #social-media{
            width: 240px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 21px 0 21px;

            @include md{
                width: 325px;
            }

            @include lg{
                width: 380px;
            }

            li{
                font-size: 40px;

                @include md{
                    font-size: 50px;
                }
    
                @include lg{
                    font-size: 55px;
                }
            }
        }
    }
}