#section-6{
    hr{
        margin-top: 48px;

        @include md{
            margin-top: 100px;
        }

        @include lg{
            margin-top: 90px;
        }
    }

    #section-6-title{
        @include md{
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
    }

    #title{
        font-size: rem-calc(22);
        padding-top: 25px;
        padding-left: 17px;

        @include md{
            font-size: rem-calc(38);
            padding-top: 55px;
            padding-left: 44px;
        }

        @include lg{
            font-size: rem-calc(45);
        }
    }

    #subtitle{
        font-size: rem-calc(12);
        padding-top: 3px;
        padding-left: 17px;

        @include md{
            font-size: rem-calc(15);
            padding-left: 8px;
        }

        @include lg{
            font-size: rem-calc(20);
        }
    }

    #section-6-content{
        display: grid;
        grid-template-columns: 27px auto 27px;
        grid-template-areas: ". section-6-content .";
        
        #indent{
            grid-area: section-6-content;
        }

        #faq{
            display: grid;
            grid-template-columns: 5% auto;
            grid-template-areas: "qanda answer";
            column-gap: 5px;

            font-size: rem-calc(16);
            line-height: normal;

            @include md{
                font-size: rem-calc(23);
                column-gap: 0;
            }

            @include lg{
                font-size: rem-calc(28);
            }
        }

        #qa{
            grid-area: qanda;
        }

        #asn{
            grid-area: answer;
        }

        @include md{
            grid-template-columns: 10% auto 10%;
        }
    }

    img{
        display: block;
        width: 100%;
    }
}