#section-4{
    hr{
        background-color: white;
    }

    #title{
        font-size: rem-calc(22);
        padding-top: 25px;
        padding-left: 17px;

        @include md{
            font-size: rem-calc(38);
            padding-top: 55px;
            padding-left: 44px;
        }

        @include lg{
            font-size: rem-calc(45);
            padding-top: 75px;
            padding-left: 40px;
        }
    }

    #section-4-content{
        display: grid;
        grid-template-columns: 27px auto 27px;
        grid-template-areas: ". section-4-content .";
        
        #indent{
            grid-area: section-4-content;
        }

        #rules-container{
            display: grid;
            grid-template-columns: 5% auto;
            grid-template-areas: "points rules";
            font-size: rem-calc(16);
            line-height: normal;

            @include md{
                grid-template-columns: 2% auto;
                font-size: rem-calc(23);
            }

            @include lg{
                font-size: rem-calc(28);
            }
        }

        #bullet{
           grid-area: points;
        }

        #rules{
            grid-area: rules;
        }

        @include md{
            grid-template-columns: 8% auto 8%;
        }
    }

    #button{
        display: grid;
        grid-template-columns: auto 40% auto;
        grid-template-areas: ". butt .";
        text-align: center;

        #black-rec{
            grid-area: butt;

            height: 35px;
            width: 144px;
            border-radius: 8px;
            background-color: black;
    
            h5{
                // color: white;
            }
        }

        @include md{
            
        }
    }

    img{
        width: 100%;
    }
}