#section-6{
    #title{
        padding-top: 25px;
        padding-left: 17px;

        @include md{
            padding-top: 55px;
            padding-left: 44px;
        }
    }

    #subtitle{
        padding-top: 3px;
        padding-left: 17px;

        @include md{
            padding-left: 44px;
        }
    }

    #section-6-content{
        display: grid;
        grid-template-columns: 27px auto 27px;
        grid-template-areas: ". section-6-content .";
        
        #faq{
            grid-area: section-6-content;
        }

        @include md{
            grid-template-columns: 8% auto 8%;
        }
    }

    img{
        width: 100%;
    }
}