#section-3{
    // hr{
    //     background-color: white;
    // }

    #title{
        padding-top: 25px;
        padding-left: 17px;
    }

    .subtitle{
        padding-left: 41px;
    }

    .categories{
        padding-left: 54px;
    }

    .details{
        padding-left: 60px;
    }

    #singup-form{
        padding-left: 45px;
    }

    img{
        width: 100%;
    }
}