/* =============
    Footer
============= */
footer{
    background-color: black;
    height: 30px;

    h6{
        color: white;
        padding-top: 3%;
        padding-left: 3%;
    }

    @include md{
        height: 63px;
    }
}