/* =============
    Header
============= */
header{
    background-color: black;
    left: 0;
    position: fixed;
    top: 0;
    height: 42px;
    width: 100%;

    @include md{
        height: 80px;
    }

    @include lg{
        height: 110px;
    }

    >div{
        display: grid;
        grid-template-columns: 13% auto 13%;
        grid-template-areas: 
        "logo title burger"
        "navi navi navi";

        @include md{
            grid-template-columns: 11% auto 13%;
        }

        @include lg{
            grid-template-columns: 8% 30% auto;
            grid-template-areas: "logo title navi";
        }

        #logo-container{
            grid-area: logo;
            padding-top: 6px;
            padding-left: 8px;

            @include md{
                padding-top: 13px;
                padding-left: 13px;
            }

            @include lg{
                padding-top: 18px;
            }

            #logo{
                height: 32px;
                width: 32px;

                @include md{
                    height: 60px;
                    width: 60px;
                }

                @include lg{
                    height: 80px;
                    width: 80px;
                }
            }
        }

        #title{
            grid-area: title;
            padding-top: 6px;

            @include md{
                padding-top: 12px;
            }

            @include lg{
                padding-top: 11px;
                padding-left: 15px;
            }
            
            h1{
                color: white;
                font-size: rem-calc(18);

                @include md{
                    font-size: rem-calc(35);
                }

                @include lg{
                    font-size: rem-calc(54);
                }
            }

            h6{
                color: white;
                font-size: rem-calc(8);

                @include md{
                    font-size: rem-calc(13);
                }

                @include lg{
                    font-size: rem-calc(22);
                }
            }
        }

        #burger-container {
            grid-area: burger;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;

            @include md{
                padding-top: 12px;
                padding-right: 22px;
            }

            @include lg{
                display: none !important;
            }

            #burger-icon{
                font-size: 25px;

                @include md{
                    font-size: 45px;
                }
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container{
            grid-area: navi;
            background-color: black;
            display: block;
            padding: 20px;

            @include md{
                position: relative;
                top: -10px;
            }

            @include lg{
                top: 0;
            }

            ul{
                text-align: center;

                @include lg{
                    display: flex;
                    justify-content: flex-end;
                }

                a{
                    text-decoration: none;
                    color: white;
                    line-height: 50px;
                    font-size: rem-calc(22);
                    font-weight: 800;
    
                    @include md{
                        font-size: rem-calc(25);
                        line-height: 60px;
                    }

                    @include lg{
                        font-size: rem-calc(22);
                        line-height: 20px;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}